test_payload.file
token.json
opencloudsave*
testdata*
.DS_store
*.app
bin/

# windows related files
libs/webview2
build/win/WebView2Loader.dll
build/win/MicrosoftEdgeWebView*.exe
*.msi
*.wixobj
*.wixpdb
rsrc_*

# linux related files
build/linux/repo/*
build/linux/build-dir/*
.flatpak-builder/*
build/linux/.flatpak-builder/*
tests/Test*
repo/
build/linux/pkg/