<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <ul class="topnav">
        <li><div class="activeButton">SyncAll</div></li>
        <li><div onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add Games</div></li>
      </ul>

      <div class="padding"></div>

<div>
{{range .Games}}
<button class="accordion">{{.Def.DisplayName}}</button>
<div class="panel">
    <div>
        <button class="btn success" onclick="onSyncButtonClicked(this, '{{.Name}}')">Sync Game</button>
        <button class="btnaddl neutralbtn" onclick="onEditButtonClicked(this, '{{.Name}}')">Edit</button>
        <button class="removebtn" onclick="onRemoveButtonClicked(this, '{{.Name}}')">Remove</button>
      </div>
      <table id="customers">
        <tr>
          <th>Filename</th>
          <th>Modified</th>
          <th>Size</th>
        </tr>
        <tr>
        {{range .SaveFiles}}
            <td>{{.Filename}}</td>
            <td>{{.ModifiedBy}}</td>
            <td>{{.Size}}</td>
          </tr>
        {{end}}
      </table>
    

</div>
{{end}}
</div>


<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
      <div class="container">
        <h1>Add a game</h1>
        <hr>
        <label for="email"><b>Windows</b></label>
        <input type="text" placeholder="Gamepath" name="path">
        <button class="selectbtn">Select</button>
  
        <input type="text" placeholder="Extensions" name="ignorelist">
        <input type="text" placeholder="Ignore List" name="ignorelist">
  
  
        
        <div>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Download
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Upload
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Delete
        </div>
  
        <label for="email"><b>MacOS</b></label>
        <input type="text" placeholder="Gamepath" name="path">
        <button class="selectbtn">Select</button>
  
        <input type="text" placeholder="Extensions" name="ignorelist">
        <input type="text" placeholder="Ignore List" name="ignorelist">
  
  
        
        <div>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Download
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Upload
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Delete
        </div>
  
        <label for="email"><b>Linux</b></label>
        <input type="text" placeholder="Gamepath" name="path">
        <button class="selectbtn">Select</button>
  
        <input type="text" placeholder="Extensions" name="ignorelist">
        <input type="text" placeholder="Ignore List" name="ignorelist">
  
  
        
        <div>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Download
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Upload
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Delete
        </div>
  
        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn contentbutton">Cancel</button>
          <button type="submit" class="signupbtn contentbutton">Save</button>
        </div>
      </div>
    </form>
  </div>

</body>
</html> 