<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <ul class="topnav">
        <li><div class="activeButton" onclick="openAddGamesMenu()" style="width:auto;">Add Games</div></li>
        <li><div onclick="onSetCloudClicked(this)">Select Cloud</div></li>
        <li><div onclick="onSyncSettingsClicked(this)">Settings</div></li>
        <div class="search-container">
              <input type="text" placeholder="Search.." name="search" onchange="onChangeSearch(this)" onkeypress="onChangeSearch(this)" onpaste = "onChangeSearch(this)" oninput = "onChangeSearch(this)">
          </div>  
    </ul>

      <div class="padding"></div>

<div id="accordion-cont">
{{range .Games}}
{{if not .Def.Hidden}}
<button class="accordion" id="{{.Def.DisplayName}}-accordion">{{.Def.DisplayName}}</button>
<div class="panel" id="{{.Def.DisplayName}}-panel">
    <div>
        {{if .SaveFilesFound}}
        <button id="{{.Def.DisplayName}}-syncbtn" class="btn success" onclick="onSyncButtonClicked(this, '{{.Name}}')">Sync Game</button>
        {{else}}
        <div class="nosavefoundcont"><p>No Save Files found for {{.Def.DisplayName}}</p></div>
        <button id="{{.Def.DisplayName}}-syncbtn" class="btn success" onclick="onSyncButtonClicked(this, '{{.Name}}')">Sync Game</button>
        {{end}}

        <button id="{{.Def.DisplayName}}-editbtn" class="btnaddl neutralbtn" onclick="onEditButtonClicked(this, '{{.Name}}')">Edit</button>
        <button id="{{.Def.DisplayName}}-removebtn" class="removebtn" onclick="onRemoveButtonClicked(this, '{{.Name}}')">Remove</button>
      </div>

      {{if .SaveFilesFound}}
      <table id="savefiles">
        <tr>
          <th>Filename</th>
          <th>Modified</th>
          <th>Size</th>
        </tr>
        <tr>
        {{range .SaveFiles}}
            <td>{{.Filename}}</td>
            <td class="table-right-align">{{.ModifiedBy}}</td>
            <td class="table-right-align">{{.Size}}</td>
          </tr>
        {{end}}
      </table>
      <div class="table-padding"></div>
      {{end}}
      

</div>
{{end}} <!-- if not .Def.Hidden -->
{{end}} <!-- range .Games -->
</div>


<div id="id01" class="modal">
    <span onclick="onAddGameClosed()" class="close" title="Close Modal">&times;</span>
    <div class="modal-content">
      <div class="container">
        <h1>Add a game</h1>
        <div>
            <b>Game Name</b>
            <input required id="gamename" type="text" value="New Game">
        </div>
        <hr>
        {{range .Platforms}}
        <label><b>{{.}}</b></label>
        <div class="{{.}}-container" id="{{.}}-container">
        <input class="{{.}}-path" id="{{.}}-path" type="text" placeholder="Gamepath" name="path">
        <button class="selectbtn" onclick="onSelectClicked(this, '{{.}}')">Select</button>
  
        <input class="{{.}}-include" id="{{.}}-include" type="text" placeholder="Include">
        <hr>
        </div>
        <div>
            <button class="addpathbtn" onclick="onAddPathClicked('{{.}}')">Add {{.}} Path</button>
        </div>
        <hr>
        {{end}}
  
        <div class="clearfix">
          <button onclick="onAddGameClosed()" class="cancelbtn contentbutton">Cancel</button>
          <button onclick="submitGamedef()" class="signupbtn contentbutton">Save</button>
        </div>
      </div>
    </div>
</div>

<div id="bisync-confirm" class="bisync-modal">
  <span id="close-sync-window" class="close" onclick="onSyncGameModalClosed(this)" title="Close">&times;</span>
  <div class="bisync-title"><p>Sync Summary</p></div>
  <div id="bisync-subtitle" class="bisync-subtitle"><p>Your data is not sync'd yet, please read the summary and conduct the sync if everything looks good.</p></div>
  <div id="sync-game-modal-loader" class="loader-cont"><span class="loader"></span></div>
  <div class="bisync-modal-content">
    <div id="bisync-line-cont" class="bisync-line-cont"></div>
    <button id="sync-modal-confirm" class="signupbtn contentbutton" disabled onclick="onSyncGameConfirm(this)">Confirm</button>
    <button id="sync-modal-cancel" class="cancelbtn contentbutton" disabled onclick="onSyncGameModalClosed(this)">Cancel</button>
  </div>
</div>

<div id="settings-modal" class="settings-modal">
  <span class="close" onclick="onSettingsModalClosed(this)" title="Close Modal">&times;</span>
  <div class="settings-modal-content">
    <div class="settings-title">Settings</div>
    <hr>
    <div class="settings-switch-cont">
      <label class="switch switch-float">
        <input id="settings-dry-run" type="checkbox" onclick="onDryRunToggle(this)">
        <span class="slider round"></span>
      </label>
      <div class="setting-text">
        <p>Perform a Dry Run prior to sync.</p>
      </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="settings-switch-cont">
      <label class="switch switch-float">
        <input id="settings-use-sync" type="checkbox" onclick="onUseBiSyncToggle(this)">
        <span class="slider round"></span>
      </label>
      <div class="setting-text">
        <p>Use a Bi-Directional Sync instead of a standard Sync.</p>
      </div>
    </div>
    <div class="clearfix">
    </div>
    <button class="contentbutton noticebutton" onclick="onNoticeClicked()">License Notices</button>
    <div id="notice-modal" class="settings-modal">
      <span class="close" onclick="onNoticeClosed()" title="Close Modal">&times;</span>
      <div class="settings-modal-content">
        <div class="noticebox">{{.Notice}}</div>
      </div>
    </div>
    <hr>
    <div class="danger-zone">DANGER ZONE (Developer Options)</div>
    <button class="contentbutton clearsettingsbutton" onclick="onClearUserSettings()">Reset Game Definitions</button>
  </div>
</div>


</body>
</html> 